.head_nav{
    padding: 0px auto;
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.b_side_h{
    display: flex;
    gap: 15px;

}
.b_side ul{
    display: flex;
    gap: 15px;
}
.b_side ul li, .b_side_e li{
    list-style: none;

}
.b_side a, .footer_nav a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(88, 86, 86);
    font-size: 1.5rem;
    font-weight: 400;
}
.b_side_e a{
    text-decoration: none;
    align-items: center;
    color: rgb(88, 86, 86);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top:14px ;
}
#active{
    color: #000;
}
#active2{
    color: #000;
}
.b_side_e img{
    height: 1.5rem;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 50PX 150PX;
}
.banner_left{
    padding-right: 100px;
}
.banner_left h1 , .plant h1 ,.bg_h1, .deals h1{ 
    font-size: 4rem;
}
.banner_left h1 span , .plant h1 span, .deals h1 span{
    color: #E95A08;
}
.banner_left p,.plant p, .bg_right li, .deals p, .form ::placeholder, .footrt1 p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(112, 114, 116);
    font-size: 1.5rem;
}
.plant p{
    text-align: center;
    padding: 20px 200px;
}
.plant{
    margin: 50px 150px;
    text-align: center;
    
}
.carts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.cart h5{
    font-size: 1.5rem;
    margin: 10px;
    margin-top: 30px;
}
.cart h3{
    font-size: 2rem;
    margin: 10px;
}
button{
    height: 50px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background: #E95A08;
    border-width: 0;
}
.bugget{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 150px auto;
    position: relative;
}
#bugget_img{
    height: 300px;
    width: 300px;
    position: absolute;
    top: -130px;
    left: 350px;
}
.all_deals{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    color: #fff;
    text-align: center;

}
.all_deals a{
    color: #fff;
}
.cart_deals{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 30%;
}

.deal_1{
    background: url(../assets/deal-bloom.png);
    height: 180px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    opacity: 100%;
}
.deal_2{
    background: url(../assets/deal-ana.png);
    height: 180px;
    border-radius: 10px;
    opacity: 100%;
    font-weight: 500;
    font-size: 1.5rem;
} 
.deal_3{
    background: url(../assets/deal-zabo.png);
    flex-grow: 1;
    width: 50%;
    background-repeat: no-repeat ;
    min-height: 400px;
    border-radius: 10px;
    opacity: 100%;
    font-weight: 500;
    font-size: 2.5rem;
}
.deal_3 h4 ,.deal_3 a{
    padding-top: 100px;
}
.form{
    text-align: center;
    color: #fff;
    background: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
}
.form_text{
    font-size: 4rem;
}
.form input{
    height: 50px;
    min-width: 650px;
    margin-right: 0;
}
.sub_btn{
    width: 80px;
    margin-left: -5px;
    min-height: 54px;
    min-width: 190px;
}
footer{
    margin: 50px 150px;
    display: flex;
    justify-content: space-between;

}
.footer1{
    width: 25%;
}
/* .footer2{
    width: 25%;
}
.footer3{
    width: 25%;
} */
.footer4{
    width: 25%;
    text-align: end;
}
.footer4 img{
    margin-left: 30px;
    height: 30px;
}
.footer_nav{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer_nav li{
    list-style: none;
}
.footer_nav a{
    margin: 30px 10px;
}

@media screen and (max-width: 576px) {
    .head_nav{
        margin: 10px 5px;
    }
    .b_side{
        display: none;
    }
    .b_side_e{
        text-align: end;
        padding-top: 20px;
    }

    .banner{
        flex-direction: column-reverse;
        margin: 10px 5px;
    }
    .banner img{
        width: 100%;
    }
    .banner_left{
        padding-right: 0;
    }
    .banner_left h1, .plant h1{
        font-size: 2rem;
    }
    .plant {
        margin: 10px 5px;
    }
    .plant p{
        padding: 0px 0px;
    }
    .carts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    }
    .cart h5{
    font-size: 1rem;
    margin: 2px;
    margin-top: 5px;
    }
    .cart h3{
    font-size: 1rem;
    margin: 2px;
    }
    button{
    height: 30px;   
    }
    .cart img{
        width: 100%;
    }
    .bugget{
        flex-direction: column;
    }
    .bugget img{
        width: 100%;
    }
    #bugget_img{
        display: none;
    }
    .all_deals{
        flex-direction: column;
        gap: 30px;
    }
    .cart_deals, .deal_3{
        width: 100%;
        gap:30px;
    }
    .deal_3{
        min-height: 180px;
        
    }
    .deal_3 h4 ,.deal_3 a{
    padding-top: 0px;
    font-weight: 500;
    font-size: 1.5rem;
    }
    .form{
        padding: 0px;
        padding-bottom: 50px;
    }
    .form_text{
    font-size: 2rem;
    padding-top: 50PX;
    }
    .form input{
    height: 30px;
    min-width: 200px;
    font-size: 5px;
    padding-top: 10PX;
    }
    .sub_btn{
    margin-top: 10px;
    min-height: 30px;
    min-width: 100px;
    padding-bottom: 28px;
    padding-top: 10PX;
    }
    footer{
        flex-direction: column;
        margin: 10px 5px;
    }
    .footer1{
        width: 100%;
    }
    .footer4{
    width: 100%;
    text-align: start;
    }
    .footer4 img{
    margin-left: 10px;
    height: 30px;
    }
    .footer_nav{
    gap: 10px;
    flex-direction: column;
    align-items: start;
    gap: 0px;
    }
    .footer_nav ul{
        padding-inline-start: 0px;
    }
    
}